<h3>All orders:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Orders</th>
    </tr>
  </thead>
  <tbody>
  	
    
  	<% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.phone.to_i %></td>
      <td><%= order.address %></td>
      <td><%= order.number_orders %></td>
    </tr>
      
    <% end %>
  </tbody>
</table>